.aside{
    margin: 30px 0 0 20px;
    padding-right: 30px;
    order: -1;
    max-width: 230px;
}

.aside__nav-header{
    text-transform: none;
    background-color: #4a4a4a;
    padding: 15px 10px 15px 20px;
    color: #ffffff;
}

.aside__nav-items{
    background-color: #f4f4f4;
}

.aside__nav-items li{
    border: 1px solid #cecece;
}

.aside__nav-items a{
    display: block;
    padding: 10px 0 10px 40px;
}

.aside__banner{
    max-width: 230px;
    margin-top: 20px;
}
