html {
    font-size: 14px;
}

body {
    font-size: 14px;
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    color: #666666;
    font-size: 1.2em;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

figure{
    margin-inline-start: 0;
    margin-inline-end: 0;
}