html {
    font-size: 14px;
}

body {
    font-size: 14px;
    max-width: 1200px;
}

h2 {
    text-transform: uppercase;
    color: #666666;
    font-size: 1.2em;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 200px;
}

a {
    text-decoration: none;
}