.footer{
    background-color: #4a4a4a;
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
}

.footer:after{
    content: "";
    height: 100%;
    width: 100vw;
    display: block;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}

.footer__item h3{
    font-size: 1.5em;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.footer__item a{
    color: #000;
    margin: 10px 0;
}

.footer__logo .icon {
    font-size: 100px;
    padding-left: 20px;
    color: #145ba3;
}

.footer__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footer__logo-text{
    margin-left: 5px;
}

.footer__menu{
    margin-left: 80px;
    width: 100px;
}

.footer__payment{
    margin-left: 100px;
    width: 200px;
}

.footer__contacts{
    margin-left: 110px;
    width: 300px;
}

.footer__contacts-list li{
    display: flex;
}

.footer__copyright{
    display: block;
    padding: 0.6em;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.footer__copyright:after{
    content: "";
    height: 100%;
    width: 100vw;
    display: block;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}