.footer{
    background-color: #4a4a4a;
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer__item h3{
    font-size: 1.2em;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

.footer__item a{
    color: #000;
    margin: 10px 0;
}